<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.2.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/socket.io.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/chartist.min.js') }}"></script>
    <script type="text/javascript" src="http://gionkunz.github.io/chartist-js/scripts/all.js"></script>
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static', filename='css/chartist.min.css') }}">
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="{{ url_for('containers') }}">Docker Monitoring Tool</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
          <ul class="nav navbar-nav">
            <li><a href="{{ url_for('images') }}">Images</a></li>
            <li><a href="{{ url_for('new_container') }}">Custom Container</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
